body {
	@apply antialiased leading-normal font-sans text-slate-700;
}

.hoverAnimation {
	@apply hover:bg-[#d9d9d9] hover:bg-opacity-10 rounded-full cursor-pointer w-[52px] h-[52px] xl:w-auto xl:h-auto xl:py-3 xl:px-4 transition duration-200 ease-out;
}

.icon {
	@apply cursor-pointer w-9 h-9 hover:bg-[#1d9bf0] hover:bg-opacity-10 flex items-center justify-center rounded-full transition ease-out;
}

.tag {
	@apply text-[#1d9bf0] font-normal hover:underline cursor-pointer;
}

.login-bg {
	background: linear-gradient(180deg, #ffb7b7 0%, #727272 100%),
		radial-gradient(60.91% 100% at 50% 0%, #ffd1d1 0%, #260000 100%),
		linear-gradient(238.72deg, #ffdddd 0%, #720066 100%),
		linear-gradient(127.43deg, #00ffff 0%, #ff4444 100%),
		radial-gradient(100.22% 100% at 70.57% 0%, #ff0000 0%, #00ffe0 100%),
		linear-gradient(127.43deg, #b7d500 0%, #3300ff 100%);
	background-blend-mode: screen, overlay, hard-light, color-burn, color-dodge,
		normal;
}

.hero-bg {
	background: url("/img/bg-hero.jpeg") no-repeat center/cover;
}
